.button {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: 6px;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    position: relative;
    z-index: ;
}

.button-light {
    background-color: var(--color-white);
    color: var(--color-accent);
}

@media(max-width: 1440px) {
    .button {
        font-size: 11px;
    }
}

@media(max-width: 1024px) {
    .button {
        font-size: 10px;
        height: 35px;
    }
}