.footer {
    margin-top: -60px;
    padding-top: 135px;
    padding-bottom: 48px;
    background-color: var(--color-grey);
    display: grid;
    grid-template-columns: 1fr 1fr 50%;
}

.footer__kompani {
    display: flex;
    flex-direction: column;
}

.footer__konfid {
    margin-top: 24px;
}

.footer__konfid a {
    text-decoration: none;
    color: var(--color-accent);
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
}

.footer__aria {
    margin-top: 11px;
    color: var(--color-accent);
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
}

.footer__navigation {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
}

.footer__navgation-name {
    font-size: 15px;
    font-weight: 800;
    color: var(--color-dark);
    line-height: 100%;
}

.footer__navigation-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer__navigation-item a {
    font-size: 15px;
    font-weight: 500;
    line-height: 110%;
    color: var(--color-dark-10);
    text-decoration: none;
}

.footer__contacts {
    display: flex;
    column-gap: 20px;
}

.footer__contacts-link {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white);
    text-decoration: none;
    transition-duration: 0.3s;
}

.footer__contacts-link:hover {
    background-color: var(--color-accent);
}

.footer__contacts-link:active {
    background-color: black;
}

.footer__contacts-link:hover .footer__contacts-deskription {
    color: var(--color-white);
}

.footer__contacts-link:hover .footer__contacts-rekvisit {
    color: var(--color-white);
}

.footer__contacts-icon {
    width: 51px;
    height: 51px;
    border-radius: 50%;
    background-color: var(--color-white-10);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__contacts-rekvisits {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.footer__contacts-deskription {
    font-size: 10px;
    font-weight: 400;
    line-height: 100%;
    color: var(--color-dark);
}

.footer__contacts-rekvisit {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-dark);
    padding-block: 7px;
}

@media(max-width: 1440px) {
    .footer__contacts {
        column-gap: 10px;
    }

    .footer__navgation-name {
        font-size: 12px;
    }

    .footer__navigation-item a {
        font-size: 12px;
    }

    .footer__navigation {
        row-gap: 12px;
    }

    .footer__navigation-list {
        row-gap: 7px;
    }
}

@media(max-width: 1024px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }

    .footer__logo {
        width: 100%;
    }

    .footer__kompani {
        display: contents;
    }

    .footer__konfid, .footer__aria {
        order: 1;
        width: 100%;
        margin-top: 0;
    }

    .footer__contacts {
        width: 70%;
    }

    .footer__contacts-link {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .footer__contacts {
        width: 100%;
    }

    .footer__contacts-link {
        row-gap: 20px;
    }
}