.header {
    padding-block: 23px;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 50px;
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 0.5px solid var(--color-accent);
}

.header a {
    text-decoration: none;
}

.header__menu-list {
    display: flex;
    align-items: center;
    column-gap: 50px;
}

.header__menu-sublist {
    position: absolute;
    top: 45px;
    left: -10px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.3s;
    margin-inline: 5px;
    background-color: var(--color-grey);
    border-radius: 5px;
}

.header__menu-sublist-mobail {
    display: flex;
    row-gap: 15px;
    flex-direction: column;
}

.header__menu-sublist.is-active {
    opacity: 1;
    visibility: visible;
}

.header__menu-subitem {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.header__menu-item, .header__menu-link, .header__menu-subitem {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
}

.header__menu-sublink:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
    border-radius: 5px;
}

.header__menu-link {
    color: var(--color-accent);
}

.header__menu-sublink {
    padding-block: 5px;
    color: var(--color-accent);
    flex-shrink: 0;
    width: max-content;
    padding-inline: 5px;
    transition-duration: 0.2s;
}

.header__menu-dropdown {
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: relative;
    cursor:pointer;
}

.header__menu-dropdown svg {
    transition-duration: 0.2s;
}

.header__menu-dropdown.is-active.header__menu-dropdown svg {
    rotate: -180deg;
}

.header__conect {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header__conect-tel {
    color: var(--color-accent);
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 20px;
}

.header__conect-mail {
    width: 51.2px;
    height: 51.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 50%;
    background-color: var(--color-white-10);
}

.header__conect-button {
    width: 312px;
    margin-left: 10px;
}

.header__menu-mobail {
    display: none;
    z-index: 3;
}

@media(max-width: 1440px) {
    .header {
        column-gap: 30px;
        padding-block: 15px;
    }

    .header__menu-list {
        column-gap: 30px;
    }

    .header__menu-item, .header__menu-link, .header__menu-subitem{
        font-size: 16px;
    }

    .header__conect-tel {
        font-size: 16px;
    }

    .header__conect-button {
        width: 200px;
    }
}

@media(max-width: 1024px) {
    .header {
        column-gap: 15px;
        padding-block: 10px;
    }

    .header__menu-list {
        column-gap: 15px;
    }

    .header__conect-tel {
        font-size: 12px;
    }

    .header__conect-mail {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    .header__conect-mail svg {
        width: 20px;
    }

    .header__conect-button {
        margin-left: 5px;
    }

    .header__menu-item, .header__menu-link, .header__menu-subitem{
        font-size: 12px;
    }

    .header__menu-sublist {
        top: 35px;
    }
}

@media(max-width: 768px) {
    .header {
        height: 55px;
    }

    .header__conect-tel-desktop {
        display: none;
    }

    .header__conect-tel {
        color: var(--color-white);
    }

    .header__conect-mail-desktop {
        display: none;
    }

    .header__conect-mail {
        margin-left: 0;
    }

    .header__menu {
        display: none;
    }

    .header__menu-mobail {
        padding-inline: 20px;
        padding-top: 30px;
        width: 70%;
        height: 100%;
        background-color: var(--color-accent);
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 15px;
        position: fixed;
        right: -70%;
        top: 0;
        bottom: 0;
        transition-duration: 0.3s;
        z-index: 10;
    }

    .header__menu-mobail.is-active {
        right: 0;
    }

    .header__menu-item, .header__menu-link, .header__menu-subitem {
        color: var(--color-white);
        font-size: 16px;
    }

    .header__menu-sublink {
        color: var(--color-white);
    }

    .header__menu-list {
        flex-direction: column;
        align-items: start;
        justify-content: center;
        row-gap: 15px;
    }

    .header__menu-sublist {
        position: static;
    }

    .header__menu-dropdown {
        display: flex;
        flex-direction: column;
        align-items: start;
        row-gap: 15px;
    }
}

@media(max-width: 460px) {
    .header__conect-button {
        display: none;
    }
}