.preview {
    height: 90vh;
    background-image: url(../images/bacraund-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.preview__content {
    padding-bottom: 107px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.prewiew__deskription {
    font-size: clamp(10px, 1.04vw, 20px);
    font-weight: 500;
    color: var(--color-accent);
    padding-right: 15.42vw;
}

.preview__title {
    margin-top: 10px;
    padding-right: 10px;
    font-size: clamp(20px, 3.125vw, 60px);
    font-weight: 400;
    line-height: 90%;
}

.preview__buttons {
    margin-top: 42px;
    display: flex;
    column-gap: 15px;
}

.preview__button {
    width: 50%;
    z-index: 0;
}

.preview__button-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

@media(max-width: 1024px) {
    .preview__content {
        width: 60%;
    }
}

@media(max-width: 768px) {
    .preview__content {
        width: 80%;
    }

    .preview__buttons {
        flex-direction: column;
        row-gap: 10px;
    }

    .preview__button {
        width: 70%;
    }
}

@media(max-width: 460px) {
    .preview__content {
        width: 100%;
    }

    .preview__button {
        width: 100%;
    }
}