:root {
    --color-white: #FFFFFF;
    --color-white-10: #F4F5F5;
    --color-accent: #041B4E;
    --color-dark: #1C1C1C;
    --color-dark-10: #111111 ;
    --color-blue: #33456E;
    --color-grey: #F3F4FB;
    --color-grey-10:#EDF3FC;

    --border: 1px solid var(--color-blue);
}