.container {
    padding-inline: 30px;
}

@media(max-width: 1440px) {
    .container {
        padding-inline: 25px;
    }
}

@media(max-width: 1024px) {
    .container {
        padding-inline: 20px;
    }
}

@media(max-width: 768px) {
    .container {
        padding-inline: 15px;
    }
}