.why-us {
    border-radius: 60px;
    margin-top: -50px;
    position: relative;
    background-color: var(--color-white);
}

.why-us__main {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.why-us__list {
    display: flex;
    column-gap: 1vw;
}

.why-us__item {
    padding: 1.5vw;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.why-us__item-number {
    font-size: 1.5vw;
    font-weight: 800;
    color: var(--color-accent);
    z-index: 1;
}

.why-us__deckription {
    font-size: 0.8vw;
    font-weight: 800;
    letter-spacing: -0.2px;
    color: var(--color-dark-10);
    z-index: 1;
}

.why-us__item img {
    width: 100%;
    inset: 0;
    position: absolute;
}

@media(max-width: 1440px) {
    .why-us {
        border-radius: 50px;
    }

    .why-us__header {
        padding-block: 40px;
    }

    .why-us__title {
        line-height: 17px;
    }
}

@media(max-width: 1024px) {
    .why-us {
        border-radius: 40px;
    }

    .why-us__header {
        padding-block: 30px;
    }

    .why-us__title {
        line-height: 15px;
    }
}

@media(max-width: 768px) {
    .why-us {
        border-radius: 30px;
    }

    .why-us__scroller {
        overflow: scroll;
    }

    .why-us__list {
        width: 900px;
    }

    .why-us__scroller::-webkit-scrollbar {
        display: none;
    }

    .why-us__item-number {
        font-size: 15px;
    }

    .why-us__deckription {
        font-size: 9px;
    }
} 